mixin test(modifier)
  section.test&attributes(attributes)
    .test__content 
      .test__tabs 
        a(href="#!").test__linkone популярные товары
        a(href="#!").test__link Недавно купили
        a(href="#!").test__link Вас может заинтересовать
      .test__swiper
        .test__swiper-button-prev
          include img/arrow-prev.svg
        .test__swiper-wrapper
          .test__swiper-slide
            img(src="img/nofoto.png" alt="Нет фото").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Тарелка керамическая ручной работы ⌀ 12
            span.test__price 600 ₽ <del>810 ₽
            .test__select
              .test__quantity(type='data-counter')
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            img(src="img/pots.png" alt="Кашпо").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Кашпо для цветов керамическое СИМПЛГРЕЙ
            span.test__price 450 ₽
            .test__select
              .test__quantity(type='data-counter')
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            .test__icon
              include img/hit.svg
            img(src="img/swatch.png" alt="Смарт-часы").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Умные часы SMARTWATCH XM 109 черный
            span.test__price 12 999 ₽ 
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            .test__icon
              include img/new.svg
            img(src="img/goldring.png" alt="Кольцо золотое").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Золотое кольцо МАЛИКА с аметистом и фианитами
            span.test__price 15 700 ₽
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            img(src="img/nofoto.png" alt="Нет фото").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Тарелка керамическая ручной работы ⌀ 12
            span.test__price 600 ₽ <del>810 ₽
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            img(src="img/pots.png" alt="Кашпо").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Кашпо для цветов керамическое СИМПЛГРЕЙ
            span.test__price 450 ₽
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            .test__icon
              include img/hit.svg
            img(src="img/swatch.png" alt="Смарт-часы").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Умные часы SMARTWATCH XM 109 черный
            span.test__price 12 999 ₽ 
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
          .test__swiper-slide
            .test__icon
              include img/new.svg
            img(src="img/goldring.png" alt="Кольцо золотое").test__img
            .test__line
              -var n = 0
              while n < 5 
                a(href="#!").test__rating= n++
            a(href="#").test__up
              include img/favorites.svg 
            a(href="#").test__down
              include img/simile.svg
            h2.test__title Золотое кольцо МАЛИКА с аметистом и фианитами
            span.test__price 15 700 ₽
            .test__select
              .test__quantity
                button(type="button").test__button &#8722;
                p.test__num 1
                button(type="button").test__button &#43;
              button(type="button").test__btn
                .test__textone В корзину
                include img/basket.svg
        .test__swiper-button-next
          include img/arrow-next.svg